<div>
    <div class="form-group" >
        <label>Name</label>
        <input type="text" class="form-control" data-ng-model="currentResource.resourceName" />
    </div>
    <table ng-table="tableParams" class="table">
        <tbody ng-repeat="group in $groups">
            <tr class="ng-table-group">
                <td colspan="{{$columns.length}}">
                    <a href="" ng-click="group.$hideRows = !group.$hideRows">
                        <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                        <strong>{{ group.value }}</strong>
                    </a>
                </td>
            </tr>
            <tr ng-hide="group.$hideRows" ng-repeat="object in group.data">
                <td sortable="name" data-title="'Name'">
                    {{object.name}}
                </td>
                <td data-title="'Create'">
                    <input type="checkbox" class="checkbox" data-ng-checked="isChecked(object.permission, 1)" data-ng-model="object.permission" />
                </td>
                <td data-title="'Read'">
                    <input type="checkbox" class="checkbox" data-ng-checked="isChecked(object.permission, 2)" data-ng-model="object.permission" />
                </td>
                <td data-title="'Update'">
                    <input type="checkbox" class="checkbox" data-ng-checked="isChecked(object.permission, 4)" data-ng-model="object.permission" />
                </td>
                <td data-title="'Delete'">
                    <input type="checkbox" class="checkbox" data-ng-checked="isChecked(object.permission, 8)" data-ng-model="object.permission" />
                </td>
                <td data-title="'Deny'">
                    <input type="checkbox" class="checkbox" data-ng-checked="isChecked(object.permission, 16)" data-ng-model="object.permission" />
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col-xs-12 text-center" data-ng-show="currentResource">
        <input type="button" class="btn btn-primary" value="Update" />
    </div>
</div>