<div data-ng-show="currentResource">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Resource information</strong></div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-2">Name</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" style="max-width: none" data-ng-model="currentResource.resourceName" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2">Description</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" style="max-width: none" data-ng-model="currentResource.resourceDescription" />
                    </div>
                </div>
            </div>  
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Resource permission</strong></div>
        <div class="panel-body">
            <table ng-table="tableParams" class="table table-bordered">
                <tbody ng-repeat="group in $groups">
                    <tr class="ng-table-group">
                        <td colspan="{{$columns.length}}">
                            <a href="" ng-click="group.$hideRows = !group.$hideRows">
                                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                                <strong>{{ group.value }}</strong>
                            </a>
                        </td>
                    </tr>
                    <tr ng-hide="group.$hideRows" ng-repeat="object in group.data">
                        <td sortable="name" data-title="'Name'">
                            {{object.name}}
                        </td>
                        <td data-title="'Create'">
                            <input type="checkbox" class="checkbox" 
                                   data-ng-disabled="object.permission == 16"
                                   data-ng-checked="isChecked(object.permission, 1)" 
                                   data-ng-click="updatePermission(object, 1)" />
                        </td>
                        <td data-title="'Read'">
                            <input type="checkbox" class="checkbox"
                                   data-ng-disabled="object.permission == 16"
                                   data-ng-checked="isChecked(object.permission, 2)"
                                   data-ng-click="updatePermission(object, 2)" />
                        </td>
                        <td data-title="'Update'">
                            <input type="checkbox" class="checkbox"
                                   data-ng-disabled="object.permission == 16"
                                   data-ng-checked="isChecked(object.permission, 4)"
                                   data-ng-click="updatePermission(object, 4)" />
                        </td>
                        <td data-title="'Delete'">
                            <input type="checkbox" class="checkbox"
                                   data-ng-disabled="object.permission == 16"
                                   data-ng-checked="isChecked(object.permission, 8)"
                                   data-ng-click="updatePermission(object, 8)" />
                        </td>
                        <td data-title="'Deny'">
                            <input type="checkbox" class="checkbox" 
                                   data-ng-checked="isChecked(object.permission, 16)" 
                                   data-ng-click="updatePermission(object, 16)" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
    
    <div class="col-xs-12 text-center">
        <input type="button" class="btn btn-primary" value="Update" data-ng-click="updateResource()" />
    </div>
</div>