<div>
    <div class="panel panel-default" data-ng-show="userPermissions && userPermissions.length > 0">
        <div class="panel-heading"><strong>User permission</strong></div>
        <div class="panel-body">
            <table ng-table="userTableParams" class="table table-bordered">
                <tbody>
                    <tr ng-repeat="p in userPermissions">
                        <td sortable="name" data-title="'Name'">
                            {{p.resourceName}}
                        </td>
                        <td data-title="'Create'">
                            <input type="checkbox" class="checkbox" 
                                   data-ng-disabled="p.type == 16"
                                   data-ng-checked="isChecked(p.type, 1)" 
                                   data-ng-click="updatePermission(p, 1)" />
                        </td>
                        <td data-title="'Read'">
                            <input type="checkbox" class="checkbox"
                                   data-ng-disabled="p.type == 16"
                                   data-ng-checked="isChecked(p.type, 2)"
                                   data-ng-click="updatePermission(p, 2)" />
                        </td>
                        <td data-title="'Update'">
                            <input type="checkbox" class="checkbox"
                                   data-ng-disabled="p.type == 16"
                                   data-ng-checked="isChecked(p.type, 4)"
                                   data-ng-click="updatePermission(p, 4)" />
                        </td>
                        <td data-title="'Delete'">
                            <input type="checkbox" class="checkbox"
                                   data-ng-disabled="p.type == 16"
                                   data-ng-checked="isChecked(p.type, 8)"
                                   data-ng-click="updatePermission(p, 8)" />
                        </td>
                        <td data-title="'Deny'">
                            <input type="checkbox" class="checkbox" 
                                   data-ng-checked="isChecked(p.type, 16)" 
                                   data-ng-click="updatePermission(p, 16)" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default" data-ng-show="rolePermissions && rolePermissions.length > 0">
        <div class="panel-heading"><strong>Inheritted role permission</strong></div>
        <div class="panel-body">
            <table ng-table="roleTableParams" class="table table-bordered">
                <tbody>
                    <tr ng-repeat="p in rolePermissions">
                        <td sortable="name" data-title="'Name'">
                            {{p.resourceName}}
                        </td>
                        <td data-title="'Create'">
                            <input type="checkbox" class="checkbox" 
                                   disabled="disabled"
                                   data-ng-checked="isChecked(p.type, 1)" />
                        </td>
                        <td data-title="'Read'">
                            <input type="checkbox" class="checkbox"
                                   disabled="disabled"
                                   data-ng-checked="isChecked(p.type, 2)" />
                        </td>
                        <td data-title="'Update'">
                            <input type="checkbox" class="checkbox"
                                   disabled="disabled"
                                   data-ng-checked="isChecked(p.type, 4)" />
                        </td>
                        <td data-title="'Delete'">
                            <input type="checkbox" class="checkbox"
                                   disabled="disabled"
                                   data-ng-checked="isChecked(p.type, 8)" />
                        </td>
                        <td data-title="'Deny'">
                            <input type="checkbox" class="checkbox"
                                   disabled="disabled"
                                   data-ng-checked="isChecked(p.type, 16)" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>