<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="FileTarget" xsi:type="File" fileName="Log.txt" />
  </targets>

  <rules>
    <logger name="SystemLogger" minlevel="Info" writeTo="FileTarget" />
  </rules>
</nlog>