@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3>Permission management</h3>
</div>

<div role="tabpanel" data-ng-app="PermissionModule" data-ng-controller="PermissionCtrl">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">By resources</a></li>
        <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">By users</a></li>        
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" >
        <div role="tabpanel" class="tab-pane active" id="resources">
            <div style="margin-top: 20px">
                <div class="col-xs-4">
                    <resource-tree data-resources="resources"></resource-tree>
                </div>
                <div class="col-xs-8">
                    <resource-detail></resource-detail>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="users">
            <div style="margin-top: 20px">
                <div class="panel panel-default col-xs-6" >
                    <div class="panel-heading" >
                        Search username
                    </div>
                    <div class="panel-body" >
                        <div class="col-xs-10">
                            <input type="text" class="form-control" style="max-width: none" data-ng-model="searchUserInput" />
                        </div>
                        <div class="col-xs-2">
                            <input type="button" class="btn btn-primary" value="Search" data-ng-click="searchUser()" />
                        </div>
                    </div>
                </div>
                
                <div class="clearfix" ></div>
                <div data-ng-show="users.length > 0" style="margin-top: 20px">
                    <div class="col-xs-4">
                        <div class="list-group">

                            <a data-ng-repeat="user in users"
                               data-ng-click="getUserPermission(user.userName)"
                               data-ng-class="{ active: selectedUsername == user.userName}"
                               class="list-group-item">{{user.fullName}}</a>

                        </div>
                    </div>
                    <div class="col-xs-8" data-ng-if="selectedUser">
                        <div class="panel panel-success">
                            <div class="panel-heading">{{selectedUser.fullName}}</div>
                            <div class="panel-body">
                                <div class="well">
                                    Roles
                                    <ul>
                                        <li data-ng-repeat="role in availableRoles">
                                            <input type="checkbox" data-ng-checked="hasRole(selectedUser, role)" />{{role.name}}
                                        </li>
                                    </ul>
                                </div>

                                <div class="well">
                                    Permissions
                                    <user-resource-permission data-permissions="selectedUser.permissions"></user-resource-permission>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="clearfix"></div>
</div>

@section styles
{
    @Styles.Render("~/Content/permission")
    <style>
        a.list-group-item {
            cursor: pointer;
        }
    </style>
}
@section scripts
{
    @Scripts.Render("~/bundles/permission")
}