@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h3>Permission management</h3>
</div>

<div role="tabpanel" data-ng-app="PermissionModule" data-ng-controller="PermissionCtrl">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">By users</a></li>
        <li role="presentation"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">By resources</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" >
        <div role="tabpanel" class="tab-pane active" id="users">
            <div style="margin-top: 20px">
                <div class="col-xs-4">
                    <div class="list-group">
                        
                        <a data-ng-repeat="user in users"
                            data-ng-click="getUserPermission(user.userName)"
                            data-ng-class="{ active: selectedUsername == user.userName}"
                            class="list-group-item">{{user.fullName}}</a>
                        
                    </div>
                </div>
                <div class="col-xs-8" data-ng-show="selectedUser">
                    <div class="panel panel-success">
                        <div class="panel-heading">{{selectedUser.FullName}}</div>
                        <div class="panel-body">
                            <div class="well">
                                Roles
                                <ul>
                                    <li data-ng-repeat="role in selectedUser.Roles">{{role.Name}}</li>
                                </ul>
                            </div>

                            <div class="well">
                                Permissions
                                <ul>
                                    <li data-ng-repeat="permission in selectedUser.Permissions">{{permission.ResourceName}} - {{permission.Type}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="resources">
            <div style="margin-top: 20px">
                <div class="col-xs-4" >
                    <resource-tree data-resources="resources" ></resource-tree>
                </div>
                <div class="col-xs-8" >
                    <resource-table></resource-table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="clearfix"></div>
</div>

@section styles
{
    @Styles.Render("~/Content/permission")
    <style>
        a.list-group-item {
            cursor: pointer;
        }
    </style>
}
@section scripts
{
    @Scripts.Render("~/bundles/permission")
}